<div class="header">
    <h1>Environmental Solutions</h1>
</div>
<div class="content">
    <form class="pure-form search" {{action "search" on="submit"}}>
        <fieldset>
            <div class="pure-g">
                <div class="pure-u-1">
                    <label>Keyword</label>
                  {{input class="pure-input-1" value=qField}}
                </div>

                <div class="pure-u-1">
                  {{input type="submit" value="Search" class="pure-button pure-button-primary"}}
                </div>
            </div>
        </fieldset>
    </form>

  {{outlet}}
</div>
